<div class="gameboy">
    <div class="sunken"></div>
    <div class="panel">
        <div class="matrix-container">
            <app-matrix></app-matrix>
        </div>
        <div class="state-container">state</div>
    </div>
    <div class="logo">
        <h3>Nintendo</h3>
        <h2>GAME NERD</h2>
        <h5>TM</h5>
    </div>
    <div class="keyboard">
        <div class="arrow-keys">
            <div class="arrow-up"></div>
            <div class="arrow-down"></div>
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
            <div class="arrow-center"></div>
        </div>
        <div class="function-keys">
            <div class="function-button b">B</div>
            <div class="function-button a">A</div>
        </div>
        <div class="center-button select">SELECT</div>
        <div class="center-button start">START</div>
    </div>
    <div class="vents">
        <div class="vent"></div>
        <div class="vent"></div>
        <div class="vent"></div>
        <div class="vent"></div>
        <div class="vent"></div>
        <div class="vent"></div>
    </div>
</div>
