.gameboy {
    padding: 6vw;
    background-color: #d1cac3;
    border-radius: 12px;
    border-end-end-radius: 36px;
    transform: scale(0.35);
    transform-origin: top center;
}

.sunken {
    margin: 0vw -6vw 6vw;
    height: 1vw;
    background: #9d958a;
}

.panel {
    background-color: #9ead86;
    padding: 2%;
    border: 7vw solid #757071;
    border-left: 12vw solid #757071;
    border-right: 12vw solid #757071;
    border-radius: 12px;
    border-end-end-radius: 36px;
}

.state-container {
    flex-grow: 2;
}
